@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.container {
    padding: 108px 0 75px;

    @include for-less-1440 {
        padding: convertPX(108) 0 convertPX(75);
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapperShort {
    width: clamp(360px, convertPX(1340), 1340px);
    margin-top: 58px;
    display: grid;
    justify-content: space-between;
    gap: 20px;
    grid-template-areas: 
    "print docs photo photo"
    "print mug mug shirt"
    "restoration widescreen card shirt"
    "stitching widescreen sticker sticker";

    @include for-1440-and-more {
        gap: 20px;
    }

    @include for-less-1440 {
        margin-top: convertPX(58);
        gap: clamp(8px, convertPX(16), 20px);
    }

    @include for-810-and-less {
        width: 100%;
        grid-template-areas:
        "docs print"
        "photo print"
        "card mug"
        "widescreen stitching" 
        "widescreen sticker";
    }
}

.item {
    position: relative;
    transition: .3s;
    text-decoration: none;
    color: $highlight-color;
    cursor: pointer;
    overflow: hidden;

    &:hover .title {
        font-weight: 700;
    }
}

.print {
    grid-area: print;
    background-color: $skyBlue;
    width: clamp(160px, convertPX(320), 320px);
    height: clamp(376px, convertPX(712), 712px);

    @include for-810-and-less {
        width: 46vw;
    }

    @include for-440-and-less {
        width: 45vw;
    }
}

.docs {
    grid-area: docs;
    background-color: $turquoise;
    width: clamp(160px, convertPX(320), 320px);
    height: clamp(184px, convertPX(368), 368px);

    @include for-810-and-less {
        width: 46vw;
    }

    @include for-440-and-less {
        width: 45vw;
    }
}

.photo {
    grid-area: photo;
    background-color: $lavender;
    width: clamp(160px, convertPX(660), 660px);
    height: clamp(184px, convertPX(368), 368px);

    @include for-810-and-less {
        width: 46vw;
    }

    @include for-440-and-less {
        width: 45vw;
    }
}

.mug {
    grid-area: mug;
    background-color: $violet;
    width: clamp(160px, convertPX(660), 660px);
    height: clamp(184px, convertPX(320), 320px);

    @include for-810-and-less {
        width: 46vw;
        background-color: $pink;
        height: clamp(184px, convertPX(368), 368px);
    }

    @include for-440-and-less {
        width: 45vw;
    }
}

.shirt {
    grid-area: shirt;
    background-color: $pink;
    width: clamp(160px, convertPX(320), 320px);
    height: clamp(376px, convertPX(712), 712px);

    @include for-810-and-less {
        display: none;
    }
}

.businessCard {
    grid-area: card;
    background-color: $grey;
    width: clamp(160px, convertPX(320), 320px);
    height: clamp(184px, convertPX(368), 368px);

    @include for-810-and-less {
        width: 46vw;
        background-color: $violet;
    }

    @include for-440-and-less {
        width: 45vw;
    }
}

.restoration {
    grid-area: restoration;
    background-color: $grey;
    width: clamp(160px, convertPX(320), 320px);
    height: clamp(184px, convertPX(368), 368px);

    @include for-810-and-less {
        display: none;
    }
}

.stitching {
    grid-area: stitching;
    background-color: $violet;
    width: clamp(160px, convertPX(320), 320px);

    @include for-810-and-less {
        width: 46vw;
        background-color: $grey;
    }

    @include for-440-and-less {
        width: 45vw;
    }
}

.short {
    height: clamp(184px, convertPX(368), 368px);
}

.long {
    height: clamp(184px, convertPX(760), 760px);
}

.widescreen {
    grid-area: widescreen;
    background-color: $yellow;
    width: clamp(160px, convertPX(320), 320px);

    @include for-810-and-less {
        width: 46vw;
    }

    @include for-440-and-less {
        width: 45vw;
    }
}

.sticker {
    grid-area: sticker;
    background-color: $turquoise;
    width: clamp(160px, convertPX(660), 660px);
    height: clamp(184px, convertPX(368), 368px);

    @include for-810-and-less {
        width: 46vw;
    }

    @include for-440-and-less {
        width: 45vw;
    }
}

.hidden {
    display: none;
}

.link {
    text-decoration: none;
    color: $highlight-color;
    cursor: pointer;
}

.img {
    position: absolute;
    top: 50%; 
    left:50%;
    transform:translate(-50%, -50%);


    @include for-less-1440 {
        width: 80%;
        height: auto;    
    }
}

.imgCorrect {
    width: 70%;
    height: auto;
}

.imgCorrectPosition {
    left: 60%;
    transform:translate(-50%, -50%);
}

.imgCorrectPositionLeft {
    width: 110%;
    height: auto;
    left: 0;
    transform:translate(-25%, -55%);

    @include for-810-and-less {
        transform:translate(-5%, -60%);
    }
}

.title {
    position: absolute;
    bottom: 0; 
    left:50%;
    transform:translate(-50%, 0);
    padding-bottom: convertPX(30); 
    width: max-content;
    @include font(20px, 600, 130%, 0.6px); 
    
    @include for-less-1440 {
        width: 80%; 
        text-align: center;  
    }

    @include for-1024-and-less {
        font-size: 16px; 
    }

    @include for-440-and-less {
        font-size: 12px; 
    }
}

.btn {
    display: flex;
    justify-content: center;
    margin-top: 58px;
}

.imgs {
    transition: .3s;
}

.imgMin1 {
    position: absolute;
    top: 6%; 
    left:2%;
    width: 60%;
    height: auto;
}

.imgMin2 {
    position: absolute;
    top: 40%; 
    left:50%;
    width: 42%;
    height: auto;
}

.imgMax1 {
    position: absolute;
    top: 10%; 
    left:0;
}

.imgMax2 {
    position: absolute;
    left: 10%; 
    bottom:20%;
}

