@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.title {
    @include h2;
    text-align: center;

    @include for-810-and-less {    
        font-size: 32px !important; 
    }

    @include for-440-and-less {    
        font-size: 18px !important; 
    }
}

.link {
    @include h2;
    background-color: $accent-color;
    text-decoration: none;

    @include for-810-and-less {    
        font-size: 32px !important; 
    }

    @include for-440-and-less {    
        font-size: 18px !important; 
    }
}

.container {
    background-color: $header-bg;
    padding: 58px 0 100px;

    @include for-less-1440 {
        padding: convertPX(58) 0 convertPX(100);
    }
}

.desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 44px 0;
    @include btn;
    text-align: center;

    @include for-less-1440 {
        margin: convertPX(44) 0;
    }

    @include for-440-and-less {    
        font-size: 12px; 
    }
}

.photo {
    display: grid;
    grid-template-areas: 
    "p1 p1 p2 p3"
    "p1 p1 p4 p5";
    grid-gap: 20px;

    @include for-less-1440 {
        grid-gap: convertPX(20);
    }

    @include for-440-and-less {
        width: 90vw;
        grid-template-areas: 
        "p2 p3";
        // grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    }
}

.p1 {
    grid-area: p1;

    @include between-441-and-1439 {
        width: convertPX(660);
        height: convertPX(658);    
    }

    @include for-440-and-less {
        display: none;
    }
}

.p2 {
    grid-area: p2;

    @include for-440-and-less {
        width: clamp(160px, convertPX(198), 198px);
        height: clamp(160px, convertPX(198), 198px);
    }
}

.p3 {
    grid-area: p3;

    @include for-440-and-less {
        width: clamp(160px, convertPX(198), 198px);
        height: clamp(160px, convertPX(198), 198px);
    }
}

.test {
    text-align: center;
}

.p4 {
    grid-area: p4;

    @include for-440-and-less {
        display: none;
    }
}

.p5 {
    grid-area: p5;

    @include for-440-and-less {
        display: none;
    }
}

.p2, .p3, .p4, .p5 {
    @include between-441-and-1439 {
        width: convertPX(320);
        height: convertPX(320);    
    }
}

.paddings {
    @include for-440-and-less {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}