@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.container {
    margin: 110px 0 60px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    
    @include for-less-1440 {
        margin: convertPX(110) 0 convertPX(60);
        gap: convertPX(60);
    }

    @include for-768-and-less {
        gap: 30px;
        margin: 50px 0 36px;
    }
}

.wrapper {
    position: relative;
    overflow: hidden;
}

.img {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include for-less-1440 {
        width: 80%;
        height: auto;
    }
}

.btns {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 1340px;
    display: flex;
    justify-content: space-between;

    @include for-less-1440 {
        width: convertPX(1340);
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: $grey-carousel;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: #dddcdc;
    }

    &:active {
        box-shadow: 0 0 32px $light;
    }
}

.arrow {
    width: 13px;
    height: 26px;
}

.left {
    rotate: 180deg;
}

.link {
    text-decoration: none;
}

.title {
    @include h5($primary-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    width: max-content;

    @include for-less-1440 {
        width: fit-content;
        text-align: center;
        bottom: convertPX(30);
    }

    @include for-768-and-less {
        font-size: 14px;
    }
}

.card {
    position: relative;
    height: 360px;

    &:hover .title {
        font-weight: 700;
    }

    @include for-less-1440 {
        height: clamp(184px, convertPX(360), 360px);
    }
}


.turquoise {
    background-color: $turquoise;
}

.lavender {
    background-color: $lavender;
}

.violet {
    background-color: $violet;
}

.skyBlue {
    background-color: $skyBlue;
}

.pink {
    background-color: $pink;    
}

.yellow {
    background-color: $yellow;
}

.grey {
    background-color: $grey;
}