@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.wrapper {
    width: max-content;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.h1 {
    @include h1;
    margin-bottom: 8px;

    @include for-less-1440 {
        font-size: convertPX(88);
        margin-bottom: convertPX(8);
    }
    
    @include for-768-and-less {  
        font-size: 40px;
    }

    @include for-440-and-less {    
        font-size: 32px;
    }
}

.subtitle {
    @include offerSub;
    margin-bottom: 20px;

    @include for-less-1440 {
        font-size: convertPX(46);
        margin-bottom: convertPX(36);
    }

    @include for-768-and-less {  
        font-size: 24px;
    }

    @include for-440-and-less {    
        font-size: 16px;
    }
}

.text {
    @include offerText($light);
    margin-left: 28px;
    
    @include for-less-1440 {
        font-size: convertPX(24);
        margin-left: convertPX(28);
    }
    
    @include for-1024-and-less {
        font-size: 18px;
    }
}

.container {
    position: relative;
    display: flex;
}

.sliderWrapper {

    @include for-1440-and-more {
        min-height: 600px;
        padding: 80px 110px 40px;
    }

    @include between-769-and-1439 {
        min-height: convertPX(600);
        padding: convertPX(80) convertPX(110) convertPX(40);
    }
}

.features {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.deco {
    width: 4px;
    height: 100%;
}

.list {
    display: flex;
}

.lilacBG {
    background: linear-gradient(
        90deg,
        rgba(199, 115, 193, 1) 0%,
        rgba(215, 155, 211, 1) 100%
    );
}

.lilacPipe {
    background-color: $lilac;
}

.lilacBtn {
    background-color: $lilac;
    color: $light;
}


.imgBlock {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.img {
    position: absolute;
    right: -20px;
    top: -35px;
    z-index: 1;

    @include for-less-1440 {
        width: 50%;
        height: auto;
    }


    @include for-768-and-less { 
        position: static;   
        width: 60%;
    }
}

.offer {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.blackBG {
    background: linear-gradient(
        90deg,
        rgba(32, 29, 29, 1) 0%,
        rgba(51, 51, 51, 1) 100%
    );
}

.blackPipe {
    background-color: $accent-color;
}

.blackBtn {
    background-color: $accent-color;
    color: $light;
}

.blueBG {
    background: linear-gradient(
        90deg,
        rgba(92, 162, 213, 1) 0%,
        rgba(172, 215, 246, 1) 100%
    );
}

.bluePipe {
    background-color: $deepblue;
}

.blueBtn {
    background-color: $deepblue;
    color: $light;
}

.lilacBottom {
    background: #A8379F;
}

.blueBottom {
    background: $deepblue;
}

.blackBottom {
    background: $accent-color;
}


.l {
    display: block;

    @include for-768-and-less {    
        display: none;
    }
}

.s {
    display: none;

    @include for-768-and-less {    
        @include flex-column-gap(0);
        justify-content: flex-end;
    }
}

.textBlock {
    width: 100%;
    padding: convertPX(120) 16px;
    @include flex-column-gap(16);
    align-items: center;
}

.whiteBtn {
    color: $primary-color;
}