@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.bgc {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $header-bg;
}

.w768 {
    @include for-768-and-less {
        padding-top: 76px;
    }
}
