@import "../styles/variables.scss";
@import "../styles/mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slick-slide > div {
  margin: 0 convertPX(10);
}

.slick-list {
  margin: 0 convertPX(10);
}