@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.menu {
    display: flex;
    align-items: center;
    gap: 48px;

    @include between-769-and-1439 {
        gap: convertPX(48);
    }
}

.item {
    display: flex;
}

.wrapper {
    position: relative;
    display: flex;
}

.dropdown {
    position: absolute;
    left: -24px;
    top: 20px;
    width: 440px;
    background-color: $header-bg;
    padding: 30px 24px 0;
    z-index: 9;

    @include between-769-and-1439 {
        width: convertPX(440);
        padding: convertPX(30) convertPX(24) 0;
        left: convertPX(-24);
    } 

}

.block {
    @include font(16px, 600, 130%, 3%);
    color: $primary-color;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @include cleanBtn;

    @include between-769-and-1439 {
        font-size: convertPX(16);
    } 
}

.rotate {
    transform-box: fill-box;
    transform: rotate(180deg);
}

.link {
    display: inline-block;
    @include font(16px, 600, 130%, 3%);
    color: $primary-color;
    cursor: pointer;
    text-decoration: none;
    margin: 16px 0;
    @include cleanBtn;

    @include between-769-and-1439 {
        font-size: convertPX(16);
        margin: convertPX(16) 0;
    }
}


.title:hover,
.link:hover,
.subtitle:hover,
.active {
    position: relative;

    &::after {
        @include after;
        height: 2px;
        bottom: -6px;
    }
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.subtitle {
    margin: 12px 0;
    text-decoration: none;
    @include font(14px, 600, 130%, 3%);
    color: $footer-bg;
    cursor: pointer;
    text-decoration: none;
    margin-left: 40px;
    @include cleanBtn;
    text-align: left;

    @include between-769-and-1439 {
        font-size: convertPX(14);
        margin-left: convertRX(40);
        margin: convertRX(12) 0;
    }

    &:hover {
        font-weight: 700;
    }
}

.bold {
    font-weight: 700;
}

.title {
    margin: 16px 0;
}

.wrapperDdM {
    background-color: $header-bg;
    width: 100vw;
    height: max-content;
    @include flex-column-gap(24);
    padding: 32px;

    @include between-769-and-1439 {
        gap: convertPX(24);
        padding: convertPX(32)
    }
}

.width {
    width: fit-content;
}

.size {
    
    @include between-769-and-1439 {
        width: convertPX(14);
        height: auto;
    }
}