$highlight-color: #211105;
$highlight-color-70: #21110570;
$table-text: #1A1A1A;
$primary-color: #000000;
$accent-color: #D3F503;
$footer-bg: #393939;
$header-bg: #F5F5F5;
$bg: #e3e3e3;
$light: #fff;
$grey-carousel: #d6d6d6;

$skyBlue: #9FCCEC;
$turquoise: #BDDDE8;
$lavender: #EFDCFA;
$violet: #C8C7FF;
$pink: #FBC2D0;
$grey: #F5F5F5;
$yellow: #F6FF90;
$lilac: #A8379F;
$deepblue: #063B68;