@import '../../../../styles/mixins.scss';
@import '../../../../styles/variables.scss';

.btn {
    border: none;
    padding: 20px 15px;
    @include btn;
    cursor: pointer;
    color: $primary-color;
    position: relative;
    background-color: transparent;
    transition: .3s;

    &::after {
        @include after;
    }

    &:hover {
        padding: 20px 60px;
        background-color: $accent-color;
    }

    @include for-less-1440 {
        padding: convertPX(20) convertPX(15);
    }
    
    @include for-1024-and-less {
        font-size: 20px; 
    }

    @include for-440-and-less {    
        font-size: 16px;
        width: 180px; 
        padding: 10px 0; 
    } 
}