@import '../../../../styles/mixins.scss';
@import '../../../../styles/variables.scss';

.btn {
    border: none;
    padding: 20px 60px;
    @include btn;
    cursor: pointer;

    &:hover {
        filter: contrast(120%);
    }

    &:active {
        filter: drop-shadow(0 0 8px $light);
    }

    @include for-less-1440 {
        padding: convertPX(20) convertPX(60);
    }

    @include for-1024-and-less {
        font-size: 20px; 
    }

    @include for-440-and-less {    
        font-size: 16px;
        width: 162px; 
        padding: 10px 0; 
    } 
}