@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.wrapper {
    background: linear-gradient(0deg, rgba(245,245,245,1) 0%, rgba(255,255,255,1) 100%,);
}

.container {
    position: relative;
    display: flex;

    @include for-less-1440 {
        padding: 0 10px;
    }

    @include for-810-and-less {
        flex-direction: column;
    }
}

.content {
    margin: 65px 0;
    width: 680px;
    padding: 44px 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    z-index: 3;

    @include for-less-1440 {
        width: convertPX(680);
        padding: convertPX(44) convertPX(40);
        gap: convertPX(24);
    }

    @include for-810-and-less {
        box-shadow: none;
        background-color: transparent;
        width: 100%;
        z-index: 1;
        margin: 24px 0;
        padding: 0;
        gap: 16px;
    }
}

.contentPlus {
    @include for-less-1440 {
        width: convertPX(800);
    }

    @include for-810-and-less {
        width: 100%;
    }
}


.text {
    @include text($primary-color);
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include for-440-and-less {
        font-size: 14px;
    }
}

.price {
    width: fit-content;
    @include minPrice;

    @include for-less-1440 {
        font-size: convertPX(40);
        padding: convertPX(10) convertPX(20);
    }

    @include for-768-and-less {
        display: none;
    }
}

.list {
    margin-left: 16px;
    list-style-type: none;
}

.item {
    @include marker(12px, 3px, 16px);
}

.title {
    @include h2;

    @include for-810-and-less {
        text-align: center;
        font-size: 32px !important; 
    }

    @include for-440-and-less {    
        font-size: 18px !important; 
    }
}

.img {
    margin-left: -20px;
    margin-top: 20px;

    @include for-less-1440 {
        width: convertPX(680);
        height: convertPX(480);
    }

    @include for-810-and-less {
        margin-left: 0;
        margin-top: 0;
        width: 88vw;
        height: auto;
    }
}

.size {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 680px;
    height: 480px;

    @include for-less-1440 {
        width: convertPX(680);
        height: convertPX(480);
    }

    @include for-810-and-less {
        @include flex-column-gap(0);
        align-items: center;
        position: static;
        width: 88vw;
        height: auto;
    }
}

.fakeMinPrice {
    width: clamp(50px, convertPX(245), 245px);
    height: clamp(20px, convertPX(72), 72px);
    background-color: $accent-color;

    @include for-768-and-less {
        display: none;
    }
}

