@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));

    @include for-440-and-less {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

.card {
    position: relative;
    max-height: 720px;
    overflow: hidden;
}

.cardContainerMain {
    padding: 20px;

    @include for-1440-and-more {
        max-width: 432px;
    }
}

.cardContainerBlog {
    padding: 20px;
}

.bg {
    background-color: $header-bg;
    padding: 50px;

    @include for-less-1440 {
        padding: convertPX(50);
    }

    @include for-440-and-less {
        padding-top: 24px;
    }
}

.title {
    padding-bottom: 62px;

    @include for-less-1440 {
        padding-bottom: convertPX(62);
    }
}

.cardTitle {
    @include h4;
    margin-top: 21px;

    @include for-440-and-less {
        font-size: 14px;
    }
}

.cardLink{
    text-decoration: none;
    color: $primary-color;
    background-color: $light;
    cursor: pointer;

    &:hover {
        box-shadow: 4px 4px 16px #00000015;
    }
}

.btnPadding {
    // display: flex;
    margin: 50px auto 0;

    @include for-less-1440 {
        margin: convertPX(50) auto 0;
    }
}

.desc {
    width: 100%;
    padding-top: 20px;
    @include h5($primary-color);
    font-weight: 400;

    @include for-440-and-less {
        font-size: 12px;
    }
}

.mist {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255,255,255,0) 80%, rgba(255,255,255,1) 98%, rgba(255,255,255,1) 100%,);
}

.img {
    display: flex;
    justify-content: center;
}

.alignment {
    display: flex;
    flex-direction: column;
    
}