@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.bgc {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $header-bg;
}
.note {
    margin-top: 16px;
    width: 1114px;
    @include flex-column-gap(12px);
    
    @include for-less-1440 {
        width: convertPX(1114);
    }

    @include for-1024-and-less {
        width: convertPX(1300);
    }

    @include for-440-and-less {
        font-size: 14px;
    }
}

.list {
    list-style-type: none;
    margin-left: 16px;
}

.item {
    @include marker(16px, 3px, 16px);
}

.w768 {
    @include for-768-and-less {
        padding-top: 76px;
    }
}